.left-control {
    padding-left: 35px;
    width: 350px;
    padding-top: 15px;
}

.burger-menu-button {
    color: rgb(16, 61, 32);
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.left-control .home-button {
    display: inline-block;
    color: rgb(16, 61, 32);
    margin-right: 15px;
    cursor: pointer;
}
