header {
    position: sticky;
    top: 0;
    display: block;
    z-index: 100;
         -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    background-color: #81e2a5;
    height: 52px; 
    width: 100%;
}