.left-menu { 
    display: none;
    padding-top: 35px;
    padding-left: 3px;
    margin-right: 20px;
    width: 400px;
    height: 100vh;
    background:#bddbbd;
    list-style-type: none;
}
.left-menu .ulMenu{
    position: fixed;
    list-style-type: none;
} 
.left-menu li{
    padding-top: 15px;
}

.left-menu .ulMenu i{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(16, 61, 32);
}
.left-menu .ulMenu .text{
    font-size: 17px;
    color: rgb(16, 61, 32);
    text-decoration: none;
    font-family: sans-serif;
}
.left-menu .ulMenu .accordion{
    list-style-position:inside;
    position: absolute;
    width: 280px;
}
