.left-menu {
    display: block;    
    padding-top: 35px;
    width: 290px;       
    background:#bddbbd;
    list-style-type: none;
}
.left-menu .ulMenu{
    list-style-type: none;
} 
.left-menu .incoming{
    padding-top: 10px;
} 
.left-menu .today{
    padding-top: 10px;
}
.left-menu .forthcoming{
    padding-top: 10px;
}
.left-menu .filter{
    padding-top: 10px;
}