.accordion-item{
    display: block;
    margin-top: 20px;
    border: #bddbbd;
    border-radius: 0%;
    padding: 0;
}

.accordion-item .accordion-button{
    background-color:#bddbbd;
    color: rgb(16, 61, 32);
}
.accordion-item .accordion-button b {
    margin-left: 11px;
    font-size: 18px;
}
.accordion-body{
    max-width: 350px;
    background-color:#bddbbd;
    color: rgb(16, 61, 32);
}
.accordion-button{
    transition: 0.3s all;
    cursor: pointer;
}
.accordion-button:hover{
    color:rgb(56, 122, 11);
}
